/* Estilos vista Index */
/* Estilos body */
.wrap-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.zerogrid{
  width: 1000px;
}

/* Estilos header */
.main-header .row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos content-box2 */

.content-box.box-2 >.wrap-box{
  display: grid;
  grid-template-columns: 40% 10% 10% 40%;
  grid-template-rows: repeat(3, 300px);
}
                                                
.grid-principal{
  grid-area: 1 / 1 / 2 / 2;
}

.grid-principal:nth-of-type(2){
  grid-area: 1 / 2 / 2 / 6;
}

.grid-principal:nth-of-type(3){
  grid-area: 2 / 1 / 3 / 4;
}

.grid-principal:nth-of-type(4){
  grid-area: 2 / 4 / 3 / 6;
}

.grid-principal:nth-of-type(5){
  grid-area: 3 / 1 / 4 / 3;
}

.grid-principal:nth-of-type(6){
  grid-area: 3 / 3 / 4 / 6;
}

/* Estilos content-box3 */
.content-box.box-3 >.row.wrap-box{
  display: grid;
  grid-template-columns: 50%;
}

/* Estilos footer */
.wrap-footer >.row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* Estilos vista single */

.single-post >.row.wrap-post{
  margin: 0;
}

/* Estilos vista about */

.row.wrap-post >.flex-box{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Estilos vista contact */

.t-center{
  margin: 0;
  padding: 50px;
}

form .row:first-child{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}